.container{
    width: 800px;
    height: auto;

}
.container .menu{
    text-transform: uppercase;
    text-decoration: none;
}
.title{
    border-bottom: 2px solid black;
    position: relative;
    padding-top: 20px;
}
.title span{
    text-transform: uppercase; 
    font-size: 22px;
    position:absolute;
    top: 0;
    background-color: white;
    padding-right: 5px;
}
.tinchinh{
    width: 100%;
    height: auto;
    display:flex;
    gap: 15px;
    
}
.tinchinh a{
    width: 50%;
    display: block;
}
.tinchinh a img{
    width: 100%;
}
.tinchinh .noidung{
    width: 50%;
    text-align: right;
}
.tinchinh .noidung a{
    display: inline;
    text-decoration: none;
}
.tinchinh h2{
    color: black;
    font-size: 20px;
    margin-top: 0;
}
.tinchinh h2:hover{
    color: brown;
}
.tinlienquan{
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.tinlienquan a.khoi{
    width: 266px;
    height: auto;
    text-decoration: none;
    display: inline-block;

}
.tinlienquan img{
    width: 100%;
}
.tinlienquan h3{
    color: black;
    margin-top: 3px;
}
