/* Reset và cấu trúc cơ bản */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  padding: 0 20px;
}

.header__logo {
  height: 100px;
  margin-right: 60px;
}

.header__menu {
  gap:40px;
  display: flex;
  flex: 1;
  align-item:center;
}

.header__item {
  cursor: pointer;
  font-size: 20px;
  color: #431808;
}

.header__item i {
  color: #000;
}

.header__admin {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__admin i {
  font-size: 30px;
}

.header__user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #b69999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__user-avatar {
  font-weight: bold;
  color: #fff;
}

.header__user-name {
  font-size: 18px;
  color: #431808;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: #fff;
  padding: 0 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.navbar__title {
  gap:10px;
  display: flex;
  align-items: center;
  color: #431808;
  font-size: 16px;
  background: rgba(71, 68, 158, 0.6);
  padding: 10px 15px;
  box-shadow: 0 0 10px #dadada;
}
.navbar__title i{
  display:inline-block;
  font-size: 20px;
}

.navbar__actions .btn {
  gap:20px; 
  background: #84a93f;
  border: 1px solid #000;
  padding: 10px 25px;
  margin-left: 10px;
  cursor: pointer;
  color: #431808;
}

.navbar__actions .btn:last-child {
  background: #e9a6a6;
}

/* Container */
.container {
  max-width: 1140px; /* hoặc 1140px nếu bạn muốn rộng hơn */
  margin: 30px auto;
  border: 1px solid #000;
  background: #f9f9f9;
  padding: 20px;
}

.container__title {
  background: #84a93f;
  color: #431808;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
}

.container__form {
  padding: 20px;
}

.form__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form__field {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.form__field label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form__field input,
.form__field textarea {
  padding: 8px;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 15px;
}

/* Mô tả */
.form__row--full {
  flex-direction: column;
  width: 100%;
}

.form__row--full textarea {
  resize: none;
  height: 80px;
  width: 100%;
  padding: 0 10px;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 15px;
  margin-top: 5px;
}
